11620715:난향동
11710690:잠실4동

In [10]:
import os
import zipfile
import pandas as pd

zip_dir = "/Users/Star1/Desktop/2025/2025여름/수도권_해커톤/2.1열린데이터광장/data_crawling"         # ZIP들이 있는 폴더
parquet_dir = "/Users/Star1/Desktop/2025/2025여름/수도권_해커톤/2.1열린데이터광장/parquets" # PARQUET 저장 폴더
os.makedirs(parquet_dir, exist_ok=True)

errors = []

dtype_spec = {
    "o_admdong_cd": str,
    "d_admdong_cd": str,
    "st_time_cd": str,
    "fns_time_cd": str
}


for fname in os.listdir(zip_dir):
    if not fname.endswith(".zip"):
        continue

    zip_path = os.path.join(zip_dir, fname)
    base_name = fname.replace(".zip", "")
    csv_name = f"{base_name}.csv"
    parquet_path = os.path.join(parquet_dir, f"{base_name}.parquet")

    if os.path.exists(parquet_path):
        print(f"[SKIP] 이미 존재: {base_name}.parquet")
        continue

    try:
        with zipfile.ZipFile(zip_path, 'r') as zf:
            with zf.open(csv_name) as csvfile:
                df = pd.read_csv(csvfile, encoding="utf-8", dtype=dtype_spec, low_memory=False)  # 혹시 깨지면 cp949 시도
                df.to_parquet(parquet_path, index=False)
                print(f"[OK] 변환 완료: {base_name}.parquet")
    except Exception as e:
        print(f"[ERROR] {fname}: {e}")
        errors.append((fname, str(e)))

# 에러 요약
if errors:
    print("\n⚠️ 변환 실패 목록:")
    for f, msg in errors:
        print(f"{f} → {msg}")

/var/folders/34/nfsz0w6s5rl3lqtq7z6j5p_h0000gp/T/ipykernel_39918/831574403.py:27: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csvfile, encoding="utf-8")  # 혹시 깨지면 cp949 시도

[ERROR] seoul_purpose_admdong4_in_20241216.zip: ("Could not convert '28245614' with type str: tried to convert to double", 'Conversion failed for column d_admdong_cd with type object')

/var/folders/34/nfsz0w6s5rl3lqtq7z6j5p_h0000gp/T/ipykernel_39918/831574403.py:27: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csvfile, encoding="utf-8")  # 혹시 깨지면 cp949 시도

[ERROR] seoul_purpose_admdong4_in_20241202.zip: ("Could not convert '51730350' with type str: tried to convert to double", 'Conversion failed for column d_admdong_cd with type object')
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241028.parquet
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241014.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240726.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240929.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240901.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240915.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240914.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240928.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240727.parquet
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241001.parquet
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241015.parquet
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241029.parquet

/var/folders/34/nfsz0w6s5rl3lqtq7z6j5p_h0000gp/T/ipykernel_39918/831574403.py:27: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csvfile, encoding="utf-8")  # 혹시 깨지면 cp949 시도

[ERROR] seoul_purpose_admdong4_in_20241203.zip: ("Could not convert '11380552' with type str: tried to convert to double", 'Conversion failed for column d_admdong_cd with type object')

/var/folders/34/nfsz0w6s5rl3lqtq7z6j5p_h0000gp/T/ipykernel_39918/831574403.py:27: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csvfile, encoding="utf-8")  # 혹시 깨지면 cp949 시도

[ERROR] seoul_purpose_admdong4_in_20241217.zip: ("Could not convert '28110628' with type str: tried to convert to double", 'Conversion failed for column d_admdong_cd with type object')

/var/folders/34/nfsz0w6s5rl3lqtq7z6j5p_h0000gp/T/ipykernel_39918/831574403.py:27: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csvfile, encoding="utf-8")  # 혹시 깨지면 cp949 시도

[ERROR] seoul_purpose_admdong4_in_20241229.zip: ("Could not convert '41450585' with type str: tried to convert to double", 'Conversion failed for column d_admdong_cd with type object')

/var/folders/34/nfsz0w6s5rl3lqtq7z6j5p_h0000gp/T/ipykernel_39918/831574403.py:27: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csvfile, encoding="utf-8")  # 혹시 깨지면 cp949 시도

[ERROR] seoul_purpose_admdong4_in_20241201.zip: ("Could not convert '11380690' with type str: tried to convert to double", 'Conversion failed for column d_admdong_cd with type object')
[OK] 변환 완료: seoul_purpose_admdong4_in_20241215.parquet
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241003.parquet
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241017.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240731.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240725.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240719.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240916.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240902.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240903.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240917.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240718.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240724.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240730.parquet
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241016.parquet
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241002.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241214.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241228.parquet

/var/folders/34/nfsz0w6s5rl3lqtq7z6j5p_h0000gp/T/ipykernel_39918/831574403.py:27: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csvfile, encoding="utf-8")  # 혹시 깨지면 cp949 시도

[ERROR] seoul_purpose_admdong4_in_20241204.zip: ("Could not convert '28245613' with type str: tried to convert to double", 'Conversion failed for column d_admdong_cd with type object')

/var/folders/34/nfsz0w6s5rl3lqtq7z6j5p_h0000gp/T/ipykernel_39918/831574403.py:27: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csvfile, encoding="utf-8")  # 혹시 깨지면 cp949 시도

[ERROR] seoul_purpose_admdong4_in_20241210.zip: ("Could not convert '11560540' with type str: tried to convert to double", 'Conversion failed for column o_admdong_cd with type object')
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241006.parquet
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241012.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240708.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240720.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240913.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240907.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240906.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240912.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240721.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240709.parquet
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241013.parquet
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241007.parquet

/var/folders/34/nfsz0w6s5rl3lqtq7z6j5p_h0000gp/T/ipykernel_39918/831574403.py:27: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csvfile, encoding="utf-8")  # 혹시 깨지면 cp949 시도

[ERROR] seoul_purpose_admdong4_in_20241211.zip: ("Could not convert '41271550' with type str: tried to convert to double", 'Conversion failed for column o_admdong_cd with type object')
[OK] 변환 완료: seoul_purpose_admdong4_in_20241205.parquet

/var/folders/34/nfsz0w6s5rl3lqtq7z6j5p_h0000gp/T/ipykernel_39918/831574403.py:27: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csvfile, encoding="utf-8")  # 혹시 깨지면 cp949 시도

[ERROR] seoul_purpose_admdong4_in_20241213.zip: ("Could not convert '41463550' with type str: tried to convert to double", 'Conversion failed for column d_admdong_cd with type object')

/var/folders/34/nfsz0w6s5rl3lqtq7z6j5p_h0000gp/T/ipykernel_39918/831574403.py:27: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csvfile, encoding="utf-8")  # 혹시 깨지면 cp949 시도

[ERROR] seoul_purpose_admdong4_in_20241207.zip: ("Could not convert '41281580' with type str: tried to convert to int64", 'Conversion failed for column d_admdong_cd with type object')
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241011.parquet
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241005.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240723.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240904.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240910.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240911.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240905.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240722.parquet
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241004.parquet
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241010.parquet

/var/folders/34/nfsz0w6s5rl3lqtq7z6j5p_h0000gp/T/ipykernel_39918/831574403.py:27: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csvfile, encoding="utf-8")  # 혹시 깨지면 cp949 시도

[ERROR] seoul_purpose_admdong4_in_20241206.zip: ("Could not convert '41113680' with type str: tried to convert to double", 'Conversion failed for column d_admdong_cd with type object')
[OK] 변환 완료: seoul_purpose_admdong4_in_20241212.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240816.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240802.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241103.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241117.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241116.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241102.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240803.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240817.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240630.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240829.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240801.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240815.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241128.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241114.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241101.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241115.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241129.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240814.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240828.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240804.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240810.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241111.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241105.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241104.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241110.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240811.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240805.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240813.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240807.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241106.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241112.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241113.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241107.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240806.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240812.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240823.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241122.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241123.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240822.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240808.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240820.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241109.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241121.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241120.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241108.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240821.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240809.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240825.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240831.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240819.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241130.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241124.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241118.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241119.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241125.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240818.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240830.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240824.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240826.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241127.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241126.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240827.parquet

/var/folders/34/nfsz0w6s5rl3lqtq7z6j5p_h0000gp/T/ipykernel_39918/831574403.py:27: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csvfile, encoding="utf-8")  # 혹시 깨지면 cp949 시도

[ERROR] seoul_purpose_admdong4_in_20241223.zip: ("Could not convert '11560535' with type str: tried to convert to double", 'Conversion failed for column d_admdong_cd with type object')
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241009.parquet
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241021.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240707.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240713.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240908.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240920.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240921.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240909.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240712.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240706.parquet
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241020.parquet
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241008.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241222.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241208.parquet

/var/folders/34/nfsz0w6s5rl3lqtq7z6j5p_h0000gp/T/ipykernel_39918/831574403.py:27: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csvfile, encoding="utf-8")  # 혹시 깨지면 cp949 시도

[ERROR] seoul_purpose_admdong4_in_20241220.zip: ("Could not convert '11650651' with type str: tried to convert to double", 'Conversion failed for column o_admdong_cd with type object')
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241022.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240710.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240923.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240922.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240705.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240711.parquet
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241023.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241221.parquet

/var/folders/34/nfsz0w6s5rl3lqtq7z6j5p_h0000gp/T/ipykernel_39918/831574403.py:27: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csvfile, encoding="utf-8")  # 혹시 깨지면 cp949 시도

[ERROR] seoul_purpose_admdong4_in_20241209.zip: ("Could not convert '11305615' with type str: tried to convert to double", 'Conversion failed for column o_admdong_cd with type object')

/var/folders/34/nfsz0w6s5rl3lqtq7z6j5p_h0000gp/T/ipykernel_39918/831574403.py:27: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csvfile, encoding="utf-8")  # 혹시 깨지면 cp949 시도

[ERROR] seoul_purpose_admdong4_in_20241225.zip: ("Expected bytes, got a 'float' object", 'Conversion failed for column o_admdong_cd with type object')

/var/folders/34/nfsz0w6s5rl3lqtq7z6j5p_h0000gp/T/ipykernel_39918/831574403.py:27: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csvfile, encoding="utf-8")  # 혹시 깨지면 cp949 시도

[ERROR] seoul_purpose_admdong4_in_20241231.zip: ("Could not convert '11680580' with type str: tried to convert to double", 'Conversion failed for column d_admdong_cd with type object')
[OK] 변환 완료: seoul_purpose_admdong4_in_20241219.parquet
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241027.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240729.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240715.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240701.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240926.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240927.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240714.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240728.parquet
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241026.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241218.parquet

/var/folders/34/nfsz0w6s5rl3lqtq7z6j5p_h0000gp/T/ipykernel_39918/831574403.py:27: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csvfile, encoding="utf-8")  # 혹시 깨지면 cp949 시도

[ERROR] seoul_purpose_admdong4_in_20241230.zip: ("Expected bytes, got a 'int' object", 'Conversion failed for column d_admdong_cd with type object')

/var/folders/34/nfsz0w6s5rl3lqtq7z6j5p_h0000gp/T/ipykernel_39918/831574403.py:27: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csvfile, encoding="utf-8")  # 혹시 깨지면 cp949 시도

[ERROR] seoul_purpose_admdong4_in_20241224.zip: ("Could not convert '11680670' with type str: tried to convert to double", 'Conversion failed for column d_admdong_cd with type object')

/var/folders/34/nfsz0w6s5rl3lqtq7z6j5p_h0000gp/T/ipykernel_39918/831574403.py:27: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csvfile, encoding="utf-8")  # 혹시 깨지면 cp949 시도

[ERROR] seoul_purpose_admdong4_in_20241226.zip: ("Could not convert '41194550' with type str: tried to convert to double", 'Conversion failed for column d_admdong_cd with type object')
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241030.parquet
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241024.parquet
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241018.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240702.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240716.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240925.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240919.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240918.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240930.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240924.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20240717.parquet
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241019.parquet
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241025.parquet
[SKIP] 이미 존재: seoul_purpose_admdong4_in_20241031.parquet
[OK] 변환 완료: seoul_purpose_admdong4_in_20241227.parquet

⚠️ 변환 실패 목록:
seoul_purpose_admdong4_in_20241216.zip → ("Could not convert '28245614' with type str: tried to convert to double", 'Conversion failed for column d_admdong_cd with type object')
seoul_purpose_admdong4_in_20241202.zip → ("Could not convert '51730350' with type str: tried to convert to double", 'Conversion failed for column d_admdong_cd with type object')
seoul_purpose_admdong4_in_20241203.zip → ("Could not convert '11380552' with type str: tried to convert to double", 'Conversion failed for column d_admdong_cd with type object')
seoul_purpose_admdong4_in_20241217.zip → ("Could not convert '28110628' with type str: tried to convert to double", 'Conversion failed for column d_admdong_cd with type object')
seoul_purpose_admdong4_in_20241229.zip → ("Could not convert '41450585' with type str: tried to convert to double", 'Conversion failed for column d_admdong_cd with type object')
seoul_purpose_admdong4_in_20241201.zip → ("Could not convert '11380690' with type str: tried to convert to double", 'Conversion failed for column d_admdong_cd with type object')
seoul_purpose_admdong4_in_20241204.zip → ("Could not convert '28245613' with type str: tried to convert to double", 'Conversion failed for column d_admdong_cd with type object')
seoul_purpose_admdong4_in_20241210.zip → ("Could not convert '11560540' with type str: tried to convert to double", 'Conversion failed for column o_admdong_cd with type object')
seoul_purpose_admdong4_in_20241211.zip → ("Could not convert '41271550' with type str: tried to convert to double", 'Conversion failed for column o_admdong_cd with type object')
seoul_purpose_admdong4_in_20241213.zip → ("Could not convert '41463550' with type str: tried to convert to double", 'Conversion failed for column d_admdong_cd with type object')
seoul_purpose_admdong4_in_20241207.zip → ("Could not convert '41281580' with type str: tried to convert to int64", 'Conversion failed for column d_admdong_cd with type object')
seoul_purpose_admdong4_in_20241206.zip → ("Could not convert '41113680' with type str: tried to convert to double", 'Conversion failed for column d_admdong_cd with type object')
seoul_purpose_admdong4_in_20241223.zip → ("Could not convert '11560535' with type str: tried to convert to double", 'Conversion failed for column d_admdong_cd with type object')
seoul_purpose_admdong4_in_20241220.zip → ("Could not convert '11650651' with type str: tried to convert to double", 'Conversion failed for column o_admdong_cd with type object')
seoul_purpose_admdong4_in_20241209.zip → ("Could not convert '11305615' with type str: tried to convert to double", 'Conversion failed for column o_admdong_cd with type object')
seoul_purpose_admdong4_in_20241225.zip → ("Expected bytes, got a 'float' object", 'Conversion failed for column o_admdong_cd with type object')
seoul_purpose_admdong4_in_20241231.zip → ("Could not convert '11680580' with type str: tried to convert to double", 'Conversion failed for column d_admdong_cd with type object')
seoul_purpose_admdong4_in_20241230.zip → ("Expected bytes, got a 'int' object", 'Conversion failed for column d_admdong_cd with type object')
seoul_purpose_admdong4_in_20241224.zip → ("Could not convert '11680670' with type str: tried to convert to double", 'Conversion failed for column d_admdong_cd with type object')
seoul_purpose_admdong4_in_20241226.zip → ("Could not convert '41194550' with type str: tried to convert to double", 'Conversion failed for column d_admdong_cd with type object')

## 2. 도착지가 잠실4동인 데이터

In [1]:
# 1. 일단 도착지가 잠실4동인 애들만 빼기

import os
import pandas as pd
from glob import glob

# parquet들이 들어있는 폴더
parquet_dir = "/Users/Star1/Desktop/2025/2025여름/수도권_해커톤/2.1열린데이터광장/parquets"
files = sorted(glob(os.path.join(parquet_dir, "*.parquet")))

# 조건
# O_TARGET = 11620715
D_TARGET = 11710690

filtered=[]

for file in files:
    try:
        df = pd.read_parquet(file)
        df = df[df["d_admdong_cd"] == D_TARGET]  # 출발지 필터만 적용
        if not df.empty:
            filtered.append(df)
            print(f"[✓] {os.path.basename(file)} → {len(df)} rows")
        else:
            print(f"[ ] {os.path.basename(file)} → no match")
    except Exception as e:
        print(f"[ERROR] {os.path.basename(file)} → {e}")

# 최종 병합
if filtered:
    df_namhyang = pd.concat(filtered, ignore_index=True)
    print(f"\n✅ 총 잠실4동 도착 행 수: {len(df_namhyang)}")

    # 저장 (선택)
    df_namhyang.to_parquet("잠실4동_도착_전체.parquet", index=False)
else:
    print("\n⚠️ 잠실4동 도착 데이터 없음")

[ERROR] seoul_purpose_admdong4_in_20240630.parquet → 'd_admdong_cd'
[✓] seoul_purpose_admdong4_in_20240701.parquet → 4106 rows
[✓] seoul_purpose_admdong4_in_20240702.parquet → 3956 rows
[✓] seoul_purpose_admdong4_in_20240705.parquet → 4175 rows
[✓] seoul_purpose_admdong4_in_20240706.parquet → 3322 rows
[✓] seoul_purpose_admdong4_in_20240707.parquet → 2935 rows
[✓] seoul_purpose_admdong4_in_20240708.parquet → 3951 rows
[✓] seoul_purpose_admdong4_in_20240709.parquet → 4214 rows
[✓] seoul_purpose_admdong4_in_20240710.parquet → 4119 rows
[✓] seoul_purpose_admdong4_in_20240711.parquet → 4252 rows
[✓] seoul_purpose_admdong4_in_20240712.parquet → 4020 rows
[✓] seoul_purpose_admdong4_in_20240713.parquet → 3417 rows
[✓] seoul_purpose_admdong4_in_20240714.parquet → 2985 rows
[✓] seoul_purpose_admdong4_in_20240715.parquet → 4153 rows
[✓] seoul_purpose_admdong4_in_20240716.parquet → 4145 rows
[✓] seoul_purpose_admdong4_in_20240717.parquet → 3883 rows
[✓] seoul_purpose_admdong4_in_20240718.parquet → 3824 rows
[✓] seoul_purpose_admdong4_in_20240719.parquet → 4075 rows
[✓] seoul_purpose_admdong4_in_20240720.parquet → 3221 rows
[✓] seoul_purpose_admdong4_in_20240721.parquet → 2846 rows
[✓] seoul_purpose_admdong4_in_20240722.parquet → 3882 rows
[✓] seoul_purpose_admdong4_in_20240723.parquet → 3938 rows
[✓] seoul_purpose_admdong4_in_20240724.parquet → 3952 rows
[✓] seoul_purpose_admdong4_in_20240725.parquet → 3990 rows
[✓] seoul_purpose_admdong4_in_20240726.parquet → 3842 rows
[✓] seoul_purpose_admdong4_in_20240727.parquet → 3286 rows
[✓] seoul_purpose_admdong4_in_20240728.parquet → 2821 rows
[✓] seoul_purpose_admdong4_in_20240729.parquet → 3645 rows
[✓] seoul_purpose_admdong4_in_20240730.parquet → 3826 rows
[✓] seoul_purpose_admdong4_in_20240731.parquet → 3885 rows
[✓] seoul_purpose_admdong4_in_20240801.parquet → 3779 rows
[✓] seoul_purpose_admdong4_in_20240802.parquet → 3680 rows
[✓] seoul_purpose_admdong4_in_20240803.parquet → 3036 rows
[✓] seoul_purpose_admdong4_in_20240804.parquet → 2705 rows
[✓] seoul_purpose_admdong4_in_20240805.parquet → 3691 rows
[✓] seoul_purpose_admdong4_in_20240806.parquet → 3787 rows
[✓] seoul_purpose_admdong4_in_20240807.parquet → 3783 rows
[✓] seoul_purpose_admdong4_in_20240808.parquet → 3748 rows
[✓] seoul_purpose_admdong4_in_20240809.parquet → 3723 rows
[✓] seoul_purpose_admdong4_in_20240810.parquet → 3247 rows
[✓] seoul_purpose_admdong4_in_20240811.parquet → 2763 rows
[✓] seoul_purpose_admdong4_in_20240812.parquet → 3761 rows
[✓] seoul_purpose_admdong4_in_20240813.parquet → 3875 rows
[✓] seoul_purpose_admdong4_in_20240814.parquet → 3816 rows
[✓] seoul_purpose_admdong4_in_20240815.parquet → 2871 rows
[✓] seoul_purpose_admdong4_in_20240816.parquet → 3640 rows
[✓] seoul_purpose_admdong4_in_20240817.parquet → 3164 rows
[✓] seoul_purpose_admdong4_in_20240818.parquet → 2822 rows
[✓] seoul_purpose_admdong4_in_20240819.parquet → 3946 rows
[✓] seoul_purpose_admdong4_in_20240820.parquet → 4053 rows
[✓] seoul_purpose_admdong4_in_20240821.parquet → 3884 rows
[✓] seoul_purpose_admdong4_in_20240822.parquet → 4005 rows
[✓] seoul_purpose_admdong4_in_20240823.parquet → 4004 rows
[✓] seoul_purpose_admdong4_in_20240824.parquet → 3420 rows
[✓] seoul_purpose_admdong4_in_20240825.parquet → 2856 rows
[✓] seoul_purpose_admdong4_in_20240826.parquet → 3994 rows
[✓] seoul_purpose_admdong4_in_20240827.parquet → 4061 rows
[✓] seoul_purpose_admdong4_in_20240828.parquet → 4087 rows
[✓] seoul_purpose_admdong4_in_20240829.parquet → 4039 rows
[✓] seoul_purpose_admdong4_in_20240830.parquet → 4080 rows
[✓] seoul_purpose_admdong4_in_20240831.parquet → 3789 rows
[✓] seoul_purpose_admdong4_in_20240901.parquet → 3090 rows
[✓] seoul_purpose_admdong4_in_20240902.parquet → 4092 rows
[✓] seoul_purpose_admdong4_in_20240903.parquet → 4185 rows
[✓] seoul_purpose_admdong4_in_20240904.parquet → 4224 rows
[✓] seoul_purpose_admdong4_in_20240905.parquet → 4171 rows
[✓] seoul_purpose_admdong4_in_20240906.parquet → 4193 rows
[✓] seoul_purpose_admdong4_in_20240907.parquet → 3726 rows
[✓] seoul_purpose_admdong4_in_20240908.parquet → 3066 rows
[✓] seoul_purpose_admdong4_in_20240909.parquet → 4096 rows
[✓] seoul_purpose_admdong4_in_20240910.parquet → 4209 rows
[✓] seoul_purpose_admdong4_in_20240911.parquet → 4157 rows
[✓] seoul_purpose_admdong4_in_20240912.parquet → 4164 rows
[✓] seoul_purpose_admdong4_in_20240913.parquet → 4119 rows
[✓] seoul_purpose_admdong4_in_20240914.parquet → 3018 rows
[✓] seoul_purpose_admdong4_in_20240915.parquet → 2626 rows
[✓] seoul_purpose_admdong4_in_20240916.parquet → 2585 rows
[✓] seoul_purpose_admdong4_in_20240917.parquet → 3212 rows
[✓] seoul_purpose_admdong4_in_20240918.parquet → 2575 rows
[✓] seoul_purpose_admdong4_in_20240919.parquet → 3902 rows
[✓] seoul_purpose_admdong4_in_20240920.parquet → 3928 rows
[✓] seoul_purpose_admdong4_in_20240921.parquet → 3444 rows
[✓] seoul_purpose_admdong4_in_20240922.parquet → 3041 rows
[✓] seoul_purpose_admdong4_in_20240923.parquet → 4190 rows
[✓] seoul_purpose_admdong4_in_20240924.parquet → 4310 rows
[✓] seoul_purpose_admdong4_in_20240925.parquet → 4219 rows
[✓] seoul_purpose_admdong4_in_20240926.parquet → 4417 rows
[✓] seoul_purpose_admdong4_in_20240927.parquet → 4491 rows
[✓] seoul_purpose_admdong4_in_20240928.parquet → 3933 rows
[✓] seoul_purpose_admdong4_in_20240929.parquet → 2890 rows
[✓] seoul_purpose_admdong4_in_20240930.parquet → 4024 rows
[✓] seoul_purpose_admdong4_in_20241001.parquet → 3047 rows
[✓] seoul_purpose_admdong4_in_20241002.parquet → 4085 rows
[✓] seoul_purpose_admdong4_in_20241003.parquet → 3097 rows
[✓] seoul_purpose_admdong4_in_20241004.parquet → 4011 rows
[✓] seoul_purpose_admdong4_in_20241005.parquet → 3575 rows
[✓] seoul_purpose_admdong4_in_20241006.parquet → 3005 rows
[✓] seoul_purpose_admdong4_in_20241007.parquet → 4232 rows
[✓] seoul_purpose_admdong4_in_20241008.parquet → 4375 rows
[✓] seoul_purpose_admdong4_in_20241009.parquet → 3294 rows
[✓] seoul_purpose_admdong4_in_20241010.parquet → 4190 rows
[✓] seoul_purpose_admdong4_in_20241011.parquet → 4282 rows
[✓] seoul_purpose_admdong4_in_20241012.parquet → 3694 rows
[✓] seoul_purpose_admdong4_in_20241013.parquet → 3093 rows
[✓] seoul_purpose_admdong4_in_20241014.parquet → 4149 rows
[✓] seoul_purpose_admdong4_in_20241015.parquet → 4144 rows
[✓] seoul_purpose_admdong4_in_20241016.parquet → 4204 rows
[✓] seoul_purpose_admdong4_in_20241017.parquet → 4250 rows
[✓] seoul_purpose_admdong4_in_20241018.parquet → 4175 rows
[✓] seoul_purpose_admdong4_in_20241019.parquet → 3741 rows
[✓] seoul_purpose_admdong4_in_20241020.parquet → 3141 rows
[✓] seoul_purpose_admdong4_in_20241021.parquet → 4057 rows
[✓] seoul_purpose_admdong4_in_20241022.parquet → 4083 rows
[✓] seoul_purpose_admdong4_in_20241023.parquet → 4163 rows
[✓] seoul_purpose_admdong4_in_20241024.parquet → 4393 rows
[✓] seoul_purpose_admdong4_in_20241025.parquet → 4201 rows
[✓] seoul_purpose_admdong4_in_20241026.parquet → 3846 rows
[✓] seoul_purpose_admdong4_in_20241027.parquet → 3093 rows
[✓] seoul_purpose_admdong4_in_20241028.parquet → 4222 rows
[✓] seoul_purpose_admdong4_in_20241029.parquet → 4316 rows
[✓] seoul_purpose_admdong4_in_20241030.parquet → 4249 rows
[✓] seoul_purpose_admdong4_in_20241031.parquet → 4289 rows
[✓] seoul_purpose_admdong4_in_20241101.parquet → 4231 rows
[✓] seoul_purpose_admdong4_in_20241102.parquet → 3822 rows
[✓] seoul_purpose_admdong4_in_20241103.parquet → 3675 rows
[✓] seoul_purpose_admdong4_in_20241104.parquet → 4180 rows
[✓] seoul_purpose_admdong4_in_20241105.parquet → 4305 rows
[✓] seoul_purpose_admdong4_in_20241106.parquet → 4271 rows
[✓] seoul_purpose_admdong4_in_20241107.parquet → 4187 rows
[✓] seoul_purpose_admdong4_in_20241108.parquet → 4310 rows
[✓] seoul_purpose_admdong4_in_20241109.parquet → 3841 rows
[✓] seoul_purpose_admdong4_in_20241110.parquet → 3326 rows
[✓] seoul_purpose_admdong4_in_20241111.parquet → 4118 rows
[✓] seoul_purpose_admdong4_in_20241112.parquet → 4254 rows
[✓] seoul_purpose_admdong4_in_20241113.parquet → 4220 rows
[✓] seoul_purpose_admdong4_in_20241114.parquet → 4134 rows
[✓] seoul_purpose_admdong4_in_20241115.parquet → 4158 rows
[✓] seoul_purpose_admdong4_in_20241116.parquet → 3654 rows
[✓] seoul_purpose_admdong4_in_20241117.parquet → 3127 rows
[✓] seoul_purpose_admdong4_in_20241118.parquet → 4137 rows
[✓] seoul_purpose_admdong4_in_20241119.parquet → 4200 rows
[✓] seoul_purpose_admdong4_in_20241120.parquet → 4131 rows
[✓] seoul_purpose_admdong4_in_20241121.parquet → 4248 rows
[✓] seoul_purpose_admdong4_in_20241122.parquet → 4193 rows
[✓] seoul_purpose_admdong4_in_20241123.parquet → 3654 rows
[✓] seoul_purpose_admdong4_in_20241124.parquet → 3038 rows
[✓] seoul_purpose_admdong4_in_20241125.parquet → 4141 rows
[✓] seoul_purpose_admdong4_in_20241126.parquet → 4099 rows
[✓] seoul_purpose_admdong4_in_20241127.parquet → 3876 rows
[✓] seoul_purpose_admdong4_in_20241128.parquet → 3876 rows
[✓] seoul_purpose_admdong4_in_20241129.parquet → 4243 rows
[✓] seoul_purpose_admdong4_in_20241130.parquet → 3614 rows
[✓] seoul_purpose_admdong4_in_20241205.parquet → 4259 rows
[✓] seoul_purpose_admdong4_in_20241208.parquet → 2867 rows
[✓] seoul_purpose_admdong4_in_20241212.parquet → 4219 rows
[✓] seoul_purpose_admdong4_in_20241214.parquet → 3534 rows
[✓] seoul_purpose_admdong4_in_20241215.parquet → 2987 rows
[✓] seoul_purpose_admdong4_in_20241218.parquet → 4083 rows
[✓] seoul_purpose_admdong4_in_20241219.parquet → 4081 rows
[✓] seoul_purpose_admdong4_in_20241221.parquet → 3364 rows
[✓] seoul_purpose_admdong4_in_20241222.parquet → 2761 rows
[✓] seoul_purpose_admdong4_in_20241227.parquet → 3872 rows
[✓] seoul_purpose_admdong4_in_20241228.parquet → 3007 rows

✅ 총 잠실4동 도착 행 수: 612065

In [2]:
# 1-1. 합쳐진 잠실4동 도착파일 확인하기
import pandas as pd

# 파일 경로 지정
file_path = "/Users/Star1/Desktop/2025/2025여름/수도권_해커톤/2.1열린데이터광장/잠실4동_도착_전체.parquet"

df = pd.read_parquet(file_path)

# 전체 컬럼명 출력
print("📌 전체 컬럼:")
print(df.columns.tolist())

# 일부 행 미리보기 (앞 5개)
print("\n📌 상위 10개 행:")
print(df.head(10))

📌 전체 컬럼:
['o_admdong_cd', 'd_admdong_cd', 'st_time_cd', 'fns_time_cd', 'move_dist', 'move_time', '0010_cnt', '2030_cnt', '4050_cnt', '60plus_cnt', 'total_cnt', 'etl_ymd']

📌 상위 10개 행:
   o_admdong_cd  d_admdong_cd  st_time_cd  fns_time_cd  move_dist  move_time  \
0    11680750.0    11710690.0        1800         1900     3873.0       47.0
1    11680640.0    11710690.0           6          720     6404.0       39.0
2    28185820.0    11710690.0         940           11    43122.0       82.0
3    11680531.0    11710690.0        1820         1900     6650.0       40.0
4    11710620.0    11710690.0          22           22     2685.0       20.0
5    11680655.0    11710690.0        1800         1840     7653.0       44.0
6    11560605.0    11710690.0          12           12    19850.0        1.0
7    11710690.0    11710690.0           2            2      266.0        6.0
8    11680545.0    11710690.0           2            2     6443.0       17.0
9    11200690.0    11710690.0          12           13     5814.0       44.0

   0010_cnt  2030_cnt  4050_cnt  60plus_cnt  total_cnt   etl_ymd
0      0.00      0.00      3.21        0.00       3.21  20240701
1      0.00      0.00      1.86        0.00       1.86  20240701
2      0.00      0.00      0.00        2.92       2.92  20240701
3      0.00      0.00      0.00        3.10       3.10  20240701
4      0.00      0.00      2.75        0.00       2.75  20240701
5      0.00      0.00      7.19        0.00       7.19  20240701
6      0.00      0.00      4.42        0.00       4.42  20240701
7      0.00     12.85     15.38        6.06      34.29  20240701
8      3.72      0.00      0.00        0.00       3.72  20240701
9      0.00      0.00      3.21        0.00       3.21  20240701

In [3]:
# 1-2. 합쳐진 잠실4동 요일별 유입인ㅇ구 확인
import pandas as pd


# 날짜 변환 및 요일 추출
df["etl_ymd"] = pd.to_datetime(df["etl_ymd"].astype(str))
df["weekday"] = df["etl_ymd"].dt.dayofweek  # 0=월 ~ 6=일

# 날짜별 total 유입 인구 계산
daily_total = df.groupby(["etl_ymd", "weekday"])["total_cnt"].sum().reset_index()

# 요일별 통계요약
weekday_stats = (
    daily_total
    .groupby("weekday")["total_cnt"]
    .agg(
        day_count="count",
        mean="mean",
        median="median",
        q1=lambda x: x.quantile(0.25),
        q3=lambda x: x.quantile(0.75),
        min="min",
        max="max"
    )
    .reset_index()
)

# 요일 이름 추가
weekday_stats["weekday_name"] = weekday_stats["weekday"].map({
    0: "월", 1: "화", 2: "수", 3: "목", 4: "금", 5: "토", 6: "일"
})

# 요일 순서대로 정렬
weekday_stats = weekday_stats.sort_values("weekday")

# 결과 출력
print("✅ 잠실4동 도착 - 요일별 유입 인구 통계요약:")
print(weekday_stats)

✅ 잠실4동 도착 - 요일별 유입 인구 통계요약:
   weekday  day_count          mean     median          q1         q3  \
0        0         22  25275.313182  25980.275  24950.8650  26407.155
1        1         22  25988.767727  26408.735  25409.6775  27383.035
2        2         22  25889.874091  26463.105  25439.1650  27093.530
3        3         24  25912.764583  26162.090  25537.1275  27086.150
4        4         23  26533.241304  26648.430  25961.3500  27430.640
5        5         25  23584.381600  23421.430  22081.6100  24880.280
6        6         24  20562.961667  20487.470  19705.0325  21188.225

        min       max weekday_name
0  17368.85  27141.10            월
1  20426.15  27997.43            화
2  18241.12  28182.34            수
3  20386.57  28416.78            목
4  23894.80  29960.65            금
5  20145.52  27079.08            토
6  18751.73  25686.97            일

In [4]:
# 1-3. 합쳐진 잠실4동 유입인구 top4 그리고 월평균 수

# 날짜 및 요일 처리
df["etl_ymd"] = pd.to_datetime(df["etl_ymd"].astype(str))
df["weekday"] = df["etl_ymd"].dt.dayofweek  # 0=월, 6=일

# 주말만 필터링 (토, 일)
df_weekend = df[df["weekday"].isin([5, 6])].copy()
df_weekend["month"] = df_weekend["etl_ymd"].dt.to_period("M")

# 출발지별 월별 유입 인구 합산
monthly = (
    df_weekend
    .groupby(["o_admdong_cd", "month"])["total_cnt"]
    .sum()
    .reset_index()
)

# 출발지별 월평균
monthly_avg = (
    monthly
    .groupby("o_admdong_cd")["total_cnt"]
    .mean()
    .reset_index()
    .rename(columns={"total_cnt": "monthly_avg_cnt"})
)

# 출발지별 전체 총합
total_sum = (
    df_weekend
    .groupby("o_admdong_cd")["total_cnt"]
    .sum()
    .reset_index()
    .rename(columns={"total_cnt": "total_cnt"})
)

# 병합 후 Top 4 추출
result = pd.merge(total_sum, monthly_avg, on="o_admdong_cd")
top4 = result.sort_values("total_cnt", ascending=False).head(4)

print("✅ 잠실4동 주말 유입 Top 4 출발지 및 월평균 유입 수:")
print(top4)

✅ 잠실4동 주말 유입 Top 4 출발지 및 월평균 유입 수:
     o_admdong_cd  total_cnt  monthly_avg_cnt
404    11710690.0  184287.09     30714.515000
405    11710710.0  147379.87     24563.311667
387    11710562.0   56573.52      9428.920000
403    11710680.0   35505.93      5917.655000

In [5]:
# 1-4. 합쳐진 남향동 유출인구 top4 평균(중앙값) 이동시간

# 1. Top 4 출발지 코드 리스트
top4_o_admdong = top4["o_admdong_cd"].tolist()

# 2. 원본 df에서 해당 출발지로 필터링 (주말 조건도 포함)
df_top4_move = df_weekend[df_weekend["o_admdong_cd"].isin(top4_o_admdong)].copy()

# 3. 통계 요약 계산
move_time_stats = (
    df_top4_move
    .groupby("o_admdong_cd")["move_time"]
    .agg(
        count="count",
        mean="mean",
        median="median",
        q1=lambda x: x.quantile(0.25),
        q3=lambda x: x.quantile(0.75),
        min="min",
        max="max"
    )
    .reset_index()
)

# 결과 출력
print("✅ 주말 유입 Top4 출발지 기준 이동시간 통계요약 (단위: 분):")
print(move_time_stats)

✅ 주말 유입 Top4 출발지 기준 이동시간 통계요약 (단위: 분):
   o_admdong_cd  count       mean  median         q1    q3  min     max
0    11710562.0   3832  30.694928    15.0   6.000000  37.0  0.0   806.0
1    11710680.0   2965  35.859594    21.0  12.796667  42.0  0.0   486.0
2    11710690.0   6067  52.164340    29.0   6.348645  60.0  0.0  1116.0
3    11710710.0   5409  46.313256    25.0   9.000000  56.0  0.0  1016.0

In [6]:
# 1-5. 연령대별 월평균 유입인구

# 1. 출발지 Top 4 코드 리스트 (잠실4동 주말 유입 기준)
top4_o_admdong = top4["o_admdong_cd"].tolist()

# 2. 주말 데이터에서 해당 출발지만 필터링
df_top = df_weekend[df_weekend["o_admdong_cd"].isin(top4_o_admdong)].copy()

# 3. 월 컬럼 생성
df_top["month"] = df_top["etl_ymd"].dt.to_period("M")

# 4. 연령대 컬럼 정의
age_cols = ["0010_cnt", "2030_cnt", "4050_cnt", "60plus_cnt", "total_cnt"]

# 5. 월별 합계
monthly_age = (
    df_top
    .groupby(["o_admdong_cd", "month"])[age_cols]
    .sum()
    .reset_index()
)

# 6. 월평균 계산
monthly_avg_age = (
    monthly_age
    .groupby("o_admdong_cd")[age_cols]
    .mean()
    .reset_index()
)

# 7. 비율 계산
for col in ["0010_cnt", "2030_cnt", "4050_cnt", "60plus_cnt"]:
    monthly_avg_age[f"{col}_ratio"] = monthly_avg_age[col] / monthly_avg_age["total_cnt"]

# 8. 출력: 비율만
age_ratio_cols = [
    "o_admdong_cd",
    "0010_cnt_ratio", "2030_cnt_ratio",
    "4050_cnt_ratio", "60plus_cnt_ratio"
]

print("✅ 출발지 Top 4 기준 월평균 유출 인구 비율 (연령대별):")
print(monthly_avg_age[age_ratio_cols])

✅ 출발지 Top 4 기준 월평균 유출 인구 비율 (연령대별):
   o_admdong_cd  0010_cnt_ratio  2030_cnt_ratio  4050_cnt_ratio  \
0    11710562.0        0.126074        0.317975        0.336382
1    11710680.0        0.127927        0.240293        0.408482
2    11710690.0        0.156926        0.175357        0.391165
3    11710710.0        0.150191        0.227093        0.406938

   60plus_cnt_ratio
0          0.219568
1          0.223292
2          0.276550
3          0.215780

In [ ]:
11710710.0
11710562.0
11710680.0
송파구 잠실6동
송파구 방이2동
송파구 잠실3동